#toplevel_page_fb_sync .wp-menu-image a {
    display:none;
}
#toplevel_page_fb_sync .wp-menu-image {
    background: url('../img/sql-join-inner.png') no-repeat 6px -17px !important;
}
#toplevel_page_fb_sync:hover .wp-menu-image,
#toplevel_page_fb_sync.current .wp-menu-image {
    background: url('../img/sql-join-inner.png') no-repeat 6px 7px !important;
}

#fb_sync_test_sync_result {
    display:none;
    margin-top:20px;
    padding:15px;
    border-top:1px solid #DFDFDF;
    border-bottom:1px solid #DFDFDF;
}
